<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixie.catalog.mapper.ClinicalTrialFacilityMapper">

    <select id="selectClinicalInstitutionListByMap" resultType="map" parameterType="map">
        select distinct l.id,l.register_code,l.hospital_name,l.hospital_grade,l.hospital_address,l.contact_person,l.contact_phone,l.approval_date_original,l.province
        from clinic_list l,clinic_info i where l.id = i.pid
        <if test="name != null">
            and (l.hospital_name like #{name} or l.register_code like #{name})
        </if>
        <if test="province != null">
            and l.province regexp #{province}
        </if>
        <if test="profession_name != null">
            and i.profession_name regexp #{profession_name}
        </if>
        limit #{startnum},10
    </select>

    <select id="selectClinicalInstitutionListCountByMap" resultType="int" parameterType="map">
        select count(distinct l.id)
        from clinic_list l,clinic_info i where l.id = i.pid
        <if test="name != null">
            and (l.hospital_name like #{name} or l.register_code like #{name})
        </if>
        <if test="province != null">
            and l.province regexp #{province}
        </if>
        <if test="profession_name != null">
            and i.profession_name regexp #{profession_name}
        </if>
    </select>

    <select id="selectClinicalInstitutionListById" resultType="map" parameterType="string">
        select id,register_code,hospital_name,hospital_grade,hospital_address,contact_person,contact_phone,approval_date_original,province
        from clinic_list where id = #{id}
    </select>

    <select id="selectClinicalInstitutionListByInfoMap" resultType="map" parameterType="map">
        select distinct i.pid from clinic_info i,clinic_list l
        where i.pid = l.id and (i.profession_name like #{name} or i.main_researcher like #{name})
        <if test="province != null">
            and l.province regexp #{province}
        </if>
         group by pid limit #{startnum},10
    </select>

    <select id="selectClinicalInstitutionInfoByMap" resultType="map" parameterType="map">
        select id,pid,profession_name,main_researcher,job_title
        from clinic_info where (profession_name like #{name} or main_researcher like #{name}) and pid = #{pid}
    </select>

    <select id="selectClinicalInstitutionInfoCountByMap" resultType="int" parameterType="map">
        select count(*) from
        (select distinct i.pid from clinic_info i,clinic_list l
        where i.pid = l.id and (i.profession_name like #{name} or i.main_researcher like #{name})
        <if test="province != null">
            and l.province regexp #{province}
        </if>
        group by pid) a
    </select>

    <select id="selectClinicalInstitutionInfoByPid" resultType="map" parameterType="string">
        select id,pid,profession_name,main_researcher,job_title,count(*) as num
        from clinic_info where pid = #{pid} group by profession_name
    </select>

    <select id="selectClinicalInstitutionHiddenInfoByMap" resultType="map" parameterType="map">
        select id,pid,profession_name,main_researcher,job_title
        from clinic_info where pid = #{pid} and profession_name = #{profession_name}
    </select>

    <select id="selectClinicalInstitutionListGroupByProvinceByName" resultType="map" parameterType="string">
        select province,count(*) as num from clinic_list where hospital_name like #{name} or register_code like #{name} group by province
    </select>

    <select id="selectInstitutionEthicalInfoByName" resultType="map" parameterType="string">
        select hospital_name,hospital_info,hospital_basic_info,hospital_ethical_info from institution_ethical_info where hospital_name = #{name}
    </select>
</mapper>