<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>分类目录</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/search.css">
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/search.js"></script>
</head>
<style type="text/css">

</style>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 container_search" >
					<div class="input-group" style="margin-top: 20px;">
						<span class="input-group-addon">分类速查</span>
						<input type="text" class="form-control" placeholder="请输入分类目录">
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary">
								查找
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-9">
					<div class="choose_result">
						您搜索的关键词是：
						<span class="key">紧张</span>
						，为您找到
						<span class="num">121</span>
						条结果
					</div>
					<div class="left_main">
						<div style="padding-top: 30px;">
							<div class="data-list">
								<div class="pull-left" style="width: 20%">
									<div class="product_number">
										121
									</div>
								</div>
								<div class="pull-right" style="width: 80%;">
									<div style="margin-left: 10px;">
										<div class="product_title">
											子我父
										</div>
										<table style="width: 100%;color: #848484">
											<tbody>
												<tr>
													<td style="width: 12%">产品描述：</td>
													<td class="" style="width: 88%">uMR 790</td>
												</tr>
												<tr>
													<td>预期用途：</td>
													<td class="">医用磁共振设备</td>
												</tr>
												<tr>
													<td>品名举例：</td>
													<td class="">医用磁共振设备</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div style="clear: both;"></div>
							</div>
							<div class="data-list">
								<div class="pull-left" style="width: 20%">
									<div class="product_number">
										121
									</div>
								</div>
								<div class="pull-right" style="width: 80%;">
									<div style="margin-left: 10px;">
										<div class="product_title">
											子我父
										</div>
										<table style="width: 100%;color: #848484">
											<tbody>
												<tr>
													<td style="width: 12%">产品描述：</td>
													<td class="" style="width: 88%">uMR 790</td>
												</tr>
												<tr>
													<td>预期用途：</td>
													<td class="">医用磁共振设备</td>
												</tr>
												<tr>
													<td>品名举例：</td>
													<td class="">医用磁共振设备</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div style="clear: both;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-md-offset-1" style="border: 1px solid #000">
					2
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>